{% extends "base.html" %}

{% load custom_tags %}
{% load tz %}
{% load static %}

{% block title %}Create Content{% endblock title %}
{% block description %}Form to create content{% endblock description %}

{% block content %}
<div class="tw-bg-[#fff9f9] tw-text-black tw-fixed tw-top-0 tw-z-[5000] 
            tw-flex tw-flex-col tw-place-content-center 
            tw-place-items-center tw-h-full tw-w-full">
    <div class="tw-w-[350px] tw-bg-white tw-rounded-xl tw-p-8 tw-shadow-lg tw-text-center tw-space-y-6 max-md:tw-w-full">
        <h1 class="tw-text-2xl tw-font-bold tw-text-red-600">Link Your YouTube Channel</h1>
        <p class="tw-text-gray-700">
            Click the button below to securely link your YouTube channel to your account.
        </p>

        <form action="{% url 'link_channel' 'youtube' %}" method="get">
            <button type="submit" class="btn tw-bg-red-500 tw-text-white tw-font-semibold 
                tw-py-2 tw-px-4 tw-rounded-md hover:tw-bg-red-600 hover:tw-shadow-lg
                tw-duration-300 tw-transform hover:tw-scale-105">
                Link YouTube Channel
            </button>
        </form>

        <p>
            <a href="{% url 'home' %}" class="tw-text-blue-500 tw-font-medium hover:tw-underline">
                Back to Home
            </a>
        </p>
    </div>
</div>


{% endblock content %}